
.root{
    -fx-background-color: #cc00cc;
    -fx-font-family: "ink free";
}

.button{
    -fx-padding: 5px;
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
}

.label{

    -fx-font-size: 25px;
    -fx-font-weight: bolder;
    -fx-text-fill: black;
}

.button:hover{
    -fx-background-color: greenyellow;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button{
    -fx-background-color: lightgreen;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#lbl_title{
    -fx-font-size: 60px;

}