




.button{
    
    
    -fx-text-align: center;
    -fx-font-size: 30px;


}

.microGridPanes{
    -fx-border-color: blue;
    -fx-padding: 15px;
    -fx-margin: 15px;
    -fx-align-items: center;
    -fx-background-color: lightgrey;
    

}